body {
  background-color: black;
  color: aquamarine;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#wrapper {
  widows: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: azure;
  color: black;
}
