    body {
      background-color: #000;
      color: #fff;
      font-family: Arial, sans-serif;
      padding: 20px;
      text-align: center;
      background-image: url('assets/bg.jpg');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Press Start 2P', monospace;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    hr {
        border: none;
        height: 5px;
        background-color: #fff;
    }
    ul {
    list-style-type: none;
    padding-left: 0;
    }
